body {
  color: #2B2620;
  background-color: #F5F0E6;
  font-family: Georgia, serif;
}
.subtitle { color: red; 
border: 2px solid black;
padding: 20px;
margin: auto;
width: 300px;}
#page-title { font-size: 48px; color: navy; }
#my-name {
  color: navy;
  font-size: 40px;
}
#special { font-size: 30px; color: pink;}